/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*TESTING*/
/*body {*/
    /*background-color: #7c1105 !important;*/
/*}*/

.active_underlined {
    text-decoration: underline;
    color: #7c1105;
}



.zw-c-toc {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1eb798;
    display: none;
}
.zw-c-toc a {
    color: #ffffff;
    text-decoration: none;
}
.zw-c-toc .zw-u-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    color: #ffffff;
}
.zw-c-toc .zw-c-btn {
    padding: 0.5rem;
    color: #ffffff;
    background-color: #178b74;
}
.zw-c-toc .zw-c-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}
.zw-c-toc .zw-u-rotate--90 {
    transform: rotate(90deg);
}
.zw-c-toc .zw-u-rotate--270 {
    transform: rotate(270deg);
}

.zw-c-toc-dropdown:hover .zw-c-toc-dropdown-menu, .zw-c-toc-dropdown.zw-is-active .zw-c-toc-dropdown-menu {
    display: block;
}

.zw-c-toc-dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    width: 200px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 13px;
    list-style: none;
    background-color: #1eb798;
}
@media (max-width: 768px) {
    .zw-c-toc-dropdown-menu {
        width: 100%;
    }
}
.zw-c-toc-dropdown-menu.zw-c-toc-dropdown-menu {
    margin: 0;
}
.zw-c-toc-dropdown-menu > li.zw-u-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #178b74;
    font-weight: bold;
}
.zw-c-toc-dropdown-menu > li > a {
    display: block;
    padding: 0.5rem;
}

.zw-c-toc-pagination {
    display: flex;
}
.zw-c-toc-pagination.zw-c-toc-pagination {
    margin-top: 0;
}
.zw-c-toc-pagination .zw-c-toc-chapter {
    padding: 0.5rem;
}
.zw-c-toc-pagination .zw-c-toc-chapter-next {
    padding: 0.5rem;
}
@media (max-width: 768px) {
    .zw-c-toc-pagination .zw-c-toc-chapter {
        display: none;
    }
}